.shop-page {
    margin-top: 25px;
    padding: 10px;
}

.shop-page .shop-title {
    font-size: 2.5em;
    color: #000;
    letter-spacing: 0;
    line-height: 1.5;
    text-transform: capitalize;
    border-bottom: 1px solid #ccc;
}

.shop-page .content {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.shop-page .content main {
    flex: 0 0 85%;
}

.products-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-wrapper .shop-item {
    margin: 15px;
    width: 200px;
}

.products-wrapper .shop-item {
    margin-bottom: 15px;
    border-bottom: none;
}

@media (max-width: 991px) {
    .shop-page .content {
        flex-direction: column;
    }
}