.new-arrivals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    justify-content: space-between;
    grid-gap: 15px;
}

.new-arrivals .shop-item {
    margin-bottom: 20px;
    border-bottom: 0;
}