.section-divider {
    margin: 60px 0 35px 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.section-divider > p {
    margin: 0 15px;
    text-align: center;
    font-size: 1.2em;
    color: #000;
}

.section-divider .dots {
    flex: 1 1 40%;
    height: 10px;
    background: url('../../../assets/images/categories/dots.png');
}