.banner {
    height: 600px;
    background-size: cover;
    display: grid;
    place-content: center;
}

.homepage .rec-item-wrapper {
    position: relative;
}

.homepage .rec-pagination {
    position: relative;
    top: -60px;
}

.homepage .rec-dot {
    box-shadow: 0 0 1px 2px #fff !important;
    width: 7px;
    height: 7px;
}

.homepage .rec-dot_active {
    background: #fff;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    z-index: -1;
}

.homepage .text {
    display: grid;
    place-content: center;
}

.homepage .text h1 {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.homepage .text button {
    margin: 15px auto;
    font-size: 1em;
    width: 150px;
    padding: 13px 20px;
    border: 0;
    background: #fff;
    text-transform: uppercase;
    transition: color 0.3s ease;
    cursor: pointer;
}

.homepage .text button:hover {
    color: #000;
}

.homepage .text button:focus {
    outline: none;
}