.homepage .container {
    padding: 0 50px;
}

.banner-wrapper {
    background: #f2f2f2;
}

.banner {
    max-width: 1170px;
    margin: 0 auto;
    height: 600px;
    background: url('../../assets/images/sections/welcome/1.jpg') center no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
}

.homepage .text {
    display: grid;
    place-content: center;
}

.homepage .text h1 {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.homepage .text button {
    margin: 15px auto;
    font-size: 1em;
    width: 150px;
    padding: 13px 20px;
    border: 0;
    background: #fff;
    text-transform: uppercase;
    transition: color 0.3s ease;
    cursor: pointer;
}

.homepage .text button:hover {
    color: #000;
}

.homepage .text button:focus {
    outline: none;
}

@media (max-width: 991px) {
    .homepage .banner {
        height: 440px;
    }

    .homepage .banner .text h1 {
        font-size: 2em;
    }
}

@media (max-width: 810px) {
    .homepage .banner {
        height: 350px;
    }
}

@media (max-width: 630px) {
    .homepage .banner {
        height: 300px;
    }
}

@media (max-width: 550px) {
    .homepage .banner {
        height: 250px;
    }

    .homepage .banner h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 490px) {
    .homepage .banner {
        height: 220px;
    }
}

@media (max-width: 450px) {
    .homepage .container {
        padding: 0 5px;
    }
}

@media (max-width: 390px) {
    .homepage .banner {
        height: 180px;
    }

    .homepage .banner .text h1 {
        font-size: 1.2em;
    }
}