.mobile-nav {
    display: flex;
    justify-content: space-around;
}

.menu-button {
    flex: 0 0 15%;
    display: grid;
    place-content: center;
    font-size: 1.2em;
}

.mobile-nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 15%;
}

@media (max-width: 420px) {
    .mobile-logo {
        width: 90px;
    }
}

@media (max-width: 380px) {
    .mobile-logo {
        width: 70px;
    }
}