@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.for-men-appear {
    position: absolute;
    cursor: default;
    top: 100%;
    left: -300%;
    width: 991px;
    height: 550px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    opacity: 0;
    transition: opacity 0.2s ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.col-sm, .editor {
    height: 100%;
    flex: 0 0 23%;
}

.for-men-appear .title, .for-women-appear .title {
    color: #dc3545;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 2px;
    margin: 15px 0;
    text-decoration: underline;
    cursor: pointer;
}

.category {
    display: block;
    font-size: 0.87em;
    text-transform: capitalize;
    width: 100%;
    padding: 11px 5px;
    border-radius: 7px;
}

.category > p {
    transition: all 0.3s ease;
}

.category:hover {
    background: rgba(0, 0, 0, 0.025);
}

.category:hover > p {
    transform: translateX(13px);
}

.editor-image {
    margin-top: 15px;
    height: 80%;
    background: url("../../../../assets/images/editor.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 15px;
}

.editor-link {
    font-weight: lighter !important;
    text-decoration: underline !important;
}

.for-women-appear {
    display: flex;
    position: absolute;
    cursor: default;
    top: 100%;
    background: #fff;
    justify-content: space-between;
    width: 360px;
    padding: 15px 25px;
    opacity: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.for-women-appear .col-sm {
    flex: 0 0 48%;
}