.shop-filters {
    display: flex;
    margin-bottom: 15px;
}

.shop-filters .filter {
    background: #000;
    font-weight: bold;
    color: #fff;
    font-size: 0.9em;
    padding: 5px 40px;
    border-radius: 15px;
    margin: 10px 15px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.shop-filters .filter:hover {
    background: rgba(0, 0, 0, 0.9);
}