header {
    background: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}

.desktop-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 70px;
}

.desktop-nav .left {
    flex: 0 0 55%;
    display: flex;
    justify-content: space-between;
}

.links {
    padding-left: 50px;
    list-style: none;
    flex: 80%;
    display: flex;
    align-items: center;
}

.links li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    min-width: 100px;
    height: 100%;
    cursor: pointer;
}

.links li a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
}

.fa-chevron-down {
    font-size: 0.5em;
    margin: 0 0 0 5px;
    position: relative;
    top: -4px;
}

.links li a:hover {
    color: #000;
}

.desktop-nav > .right {
    flex: 0 0 14%;
}

.logo {
    padding: 0px 30px;
    border-right: 1px solid #ccc;
    flex: 20%;
    height: 100%;
    background-size: 68% 110%;
}

.desktop-nav .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 30px;
}

.login-btn {
    font-size: 1em;
    color: #000;
    width: 70px;
    border: 0;
    background: inherit;
    cursor: pointer;
}

.vertical-divide {
    height: 30px;
    width: 1px;
    background: #ccc;
}

.cart-icon {
    position: relative;
}

.products-amount {
    position: absolute;
    top: -10px;
    right: -10px;
    color: #fff;
    background: #000;
    width: 15.5px;
    height: 15.5px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    font-size: 0.7em;
}

.nav-icons-wrapper {
    display: flex;
}

.search-icon, .fa-shopping-bag {
    cursor: pointer;
    margin: 0 10px;
}

.mobile-nav {
    display: flex;
    justify-content: space-around;
}

.menu-button {
    flex: 0 0 15%;
    display: grid;
    place-content: center;
    font-size: 1.2em;
}

.mobile-nav .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 15%;
}

@media (max-width: 991px) {
    .nav-icons-wrapper {
        flex-direction: row-reverse;
    }

    .products-amount {
        display: none;
    }
}

@media (max-width: 991px) {
    header {
        box-shadow: none;
    }
}

@media (max-width: 420px) {
    .mobile-logo {
        width: 90px;
    }
}

@media (max-width: 380px) {
    .mobile-logo {
        width: 70px;
    }
}